*,
h1,h2,h3,h4,h5,h6,
p,div,body
{
	padding: 0px;
	margin: 0px auto;
}
img{
	width: 100%;
	height: auto;
}
video, frame{
	display: block;
}
a:hover,a:link,a:focus,a:visited{
	text-decoration: none;
}
body{
	background: #f8f8f8;
}
input,input[type=text], input[type=password], textarea {
	border: 1px solid #ccc !important;
	outline: none;
}
.clear{
	clear: both;
}
.big-box{
	box-shadow: 1px 1px 4px #888888;
	-webkit-transition: box-shadow 0.4s; /* For Safari 3.1 to 6.0 */
	transition: box-shadow 0.4s;
}
/*Back to Top ==========>*/
#myBtn {
	display: none; /* Mặc định button sẽ được ẩn*/
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 20px;
	right: 30px; 
	z-index: 99; /* button được ưu tiên hiển thị đè lên các phần khác*/
	border: none;
	outline: none;
	background-color: #7d0000;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 50%;
}
#myBtn:hover {
	background-color: #555;
}

/*Style Header ===================================================>*/
header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	height: 60px;
	background: #fff;
	box-shadow: 1px 1px 3px #ccc;
	-webkit-box-shadow: 0px 2px 5px #ccc;
}
/*Icon-menu*/
.icon-menu {
	float: left;
	height: 40px;
	width: 40px;
	padding: 6px 8px 8px 8px;
	margin: 10px 5px 10px 0px;
	border-radius: 5px;
}
.icon-menu>span {
	font-size: 24px;
	color: #3c3c3c;
}
/* Logo */
#logo-clipchothue {
	float: left;
	max-height: 60px;
	padding: 10px;
}
#logo-clipchothue>a>img {
	max-height: 40px;
	max-width: none !important;
	width: auto !important;
}
/*Button tìm kiếm*/
.btn-search{
	display: none;
	position: relative;
	outline: none;
	background: #fff;
	border: none;
	color: #C41415;
	font-size: 22px;
	margin-right: 10px;
	line-height: 20px;
}
.box-form-search {
	display: block;
	float: left;
	padding: 0px;
	margin-left: 5%;
	border: 2px solid #ccc;
	margin-top: 12px;
	border-radius: 10px;
}
.searchform {
	position: relative;
}
.searchform>select {
	float: left;
	background: transparent;
	width: auto;
	padding: 5px;
	display: block;
	height: 32px;
	border-radius: 0px;
	/*    -webkit-appearance: none;*/
	-webkit-border-radius: 0px;
	border: 0px;
	border-right: 1px solid #ccc;
	outline: none;
}
.searchform>input[type=text] {
	float: left;
	width: 300px;
	padding: 5px;
	border: 0px !important;
	outline: none;
}
.searchform>button {
	background: transparent;
	color: black;
	border-color: black;
	border: 0px;
	padding: 3px 8px 2px 2px;
	outline: none;
}
.searchform>button>span {
	font-size: 22px;
	color: #333;
}
/*Button đăng tin*/
.btn-destop,
.btn-mobile{
	float: right;
}
.dang-tin{
	float: right;
	margin-top: 20px;
}
.dang-tin>.btn-destop>a.btn-dangtin{
	margin-right: 10px;
	font-size: 16px;
	color: #C41415;
	background: #fff;
	padding: 3px 8px;
	border: 1px solid #C41415;
	border-radius: 8px;
}
.dang-tin>.btn-destop>a {
	color: #3c3c3c;
	margin-left: 5px;
}
.dang-tin>.btn-destop>a.btn-dangtin:hover{
	background: #C41415;
	color: #fff;
}
.dang-tin>.btn-destop>a:hover{
	color: #C41415;
}
/*Style Footer================================================================>*/
footer{
	margin-top: 20px;
}
.top-footer{
	background: #f2f2f2;
}
.bottom-footer{
	min-height: 100px;
	background: #d9d9d9;
	padding-bottom: 20px;
}
footer>.bottom-footer>div>div {
	padding-top: 20px;
}
footer .img-bct>img {
	width: auto !important;
	height: 60px;
}
footer>.top-footer {
	background: #f2f2f2;
	padding-top: 10px;
}
footer .footer-cate {
	padding: 10px 15px;
}
footer .footer-cate>ul {
	list-style: none;
}
footer .footer-cate .big-cate-footer {
	float: left;
	font-size: 18px;
	margin-right: 8px;
}
footer .footer-cate a {
	color: #3c3c3c;
}
footer .footer-cate a:hover{
	text-decoration: underline;
}
footer .footer-cate .line-title {
	margin-top: 10px;
	border: 2px solid #DCDEE3;
	border-radius: 2px;
	overflow: hidden;
}
footer .footer-cate li {
	padding-left: 15px;
}

/*Style Content Index=====================================================>*/
/*slider*/
.carousel-inner>.item>a>img, .carousel-inner>.item>img{
}
/*Index Categories*/
.big-box-cate{
	margin-top: 30px;
	padding: 0px 5px;
}
.big-box-cate>div{
	border-radius: 10px;
	position: relative;
	padding: 8px;
}
.big-title-cate{
	position: absolute;
	display: flex;
	top: -18px;
	left: 0px;
	right: 0px;
	z-index: 100;
}
.big-title-cate>a{
	background: #fff;
	border: 3px solid;
	border-radius: 50px;
	font-size: 18px;
	padding: 5px 15px;
}
/*Small - categories*/
.small-categories{
	background: #fff;
	padding: 10px;
	font-size: 16px;
}
.small-categories>a{
	color: #7d0000;
	padding-right: 5px;
	padding-left: 5px
}
.small-categories>a:hover{
	text-decoration: underline;
}
/* Posts new by cate */
.posts-by-category{

}
.big-box-posts-new,
.sidebar{
	background: #fff;
	margin-top: 20px;
	border-radius: 10px;
	border-bottom: 3px solid;
}
.tilte-cate-post-new{
	padding: 0px;
	position: relative;
}
.title-cate{
	font-size: 18px;
	position: relative;
	padding-bottom: 5px;
	margin-top: 10px;
	border-bottom: 3px solid #ccc;
	font-weight: bold;
	margin-bottom: 0px;
	color: rgb(17, 17, 17)
}
.title-cate>span{
	padding-bottom: 4px;
	border-bottom: 3px solid;  
}
sup.temp-new {
	background: #C41415;
	color: #fff;
	border-radius: 5px;
	font-weight: normal;
	font-size: 10px;
	padding: 2px 5px;
}
.box-show-cate{
	position: absolute;
	bottom: 6px;
	right: 0;
}
.box-show-categories{
	right: 85px;
}
.tilte-cate-post-new .show-post-cate{
	float: right;
	padding-left: 6px;
	color: #737373;
	border-left: 1px solid #ccc;
	margin-left: 6px;
}
.tilte-cate-post-new .show-post-cate:last-child{
	border: none;
}
.tilte-cate-post-new .show-post-cate:hover{
	color:#f20000;
}
.tilte-cate-post-new .box-show-cate>a.active{
	color:#f20000;
}
/* Post new index */
.box-posts{
	padding: 10px 0;
}
.box-post {
	padding: 2px;
}
.entry-thumbnail {
	position: relative;
}
.entry-icon-auth{
	display: none;
}
.entry-text{
	display: flex;
}
.entry-text-info{
	display: block;
}
.entry-header,
.entry-content{
	overflow: hidden;
}
.entry-header>h2 {
	margin-top: 5px;
	font-size: 14px;
	max-height: 40px;
	width: 100%;
	line-height: 1.3;
	/* overflow: hidden; */
}
.entry-header>h2>a{
	color: rgb(17, 17, 17);
}
.entry-content>p{
	font-size: 12px;
	color: #929292;
}
.entry-content>p>span{
	margin-right: 2px;
}
.entry-content>p>span>i{
	width: 12px;
	margin-right: 3px;
	text-align: center;
}
.entry-icon-more{
	display: flex;
	align-items: center;
	position: relative;
}
.more-single{
	display: block;
	float: right;
}
.entry-icon-more>button{
	padding: 10px;
	border: none;
	outline: none;
	background: transparent;
}
.entry-icon-more>button>svg{
	width: 15px;
}
.box-more{
	display: none;
	position: absolute;
	top:66%;
	right: 5px;
	outline: none;
	box-sizing: border-box;
	overflow: auto;
	width: 150px;
	border: 1px solid #ccc;
	z-index: 1000;
}
.box-more>button{
	padding: 8px 10px;
	display: flex;
	width: 100%;
	text-align: left;
	background: #fff;
	border: none;
}
.box-more>button:hover{
	background: #f2f2f2;
}
.more-single{
	display: block;
	float: right;
	margin-left: 10px;
}
.more-single>button{
	padding: 0px;
}
/*Style Content Big Categories=====================================================>*/
.string-search{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 8px;
}
.box-small-categories{
	border-radius: 0 0 10px 10px;
	padding: 0px 8px 8px 8px;
}
/*Page pagination*/
.form-filter{
	display: none;
	padding: 15px 15px 0px 15px;
	border: 1px solid #ccc;
	margin: 10px 0;
	position: relative;
}
.title-filter{
	position: absolute;
	top: -15px;
	left: 15px;
	background: #fff;
	padding: 4px 8px;
	font-weight: bold;
	font-size: 16px;
}
.form-group-filter{
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;
}
.form-filter form select{
	display: inline;
	width: auto;
}
.button-filter{
	position: absolute;
	right: 0;
	bottom: 6px;
}
.btn-filter{
	background-color: #f20000;
	padding: 3px 8px;
	outline: none;
}
.pagination-bottom{
	text-align: center;
}
.pagination-bottom>ul{
	margin-top: 20px;
	margin-bottom: 10px;
}
/*Style Content Small Categories=====================================================>*/
.box-post-small-cate{
	padding: 0px;
	margin-bottom: 10px;
}
.entry-thumbnail{
	padding: 0;
}
.box-post-small-cate>.entry-description{
	padding-right: 0px;
}
.box-post-small-cate .description{
	color: #737373 !important;
	font-weight: normal !important;
}
.description{
	color: #bbb;
}
.box-post-small-cate .entry-content>p{
	display: block;
	font-size: 14px;
}
.box-post-small-cate .entry-text-info{
	margin-left: 10px;
}
/*Sidebar============================>*/
.big-box-sidebar{
	float: right;
}
.sidebar{
	padding-bottom: 10px;
}
.related-post {
	padding: 0px;
	margin-top: 8px;
}
.related-post:hover{
	padding-left: 5px;
	-webkit-transition: all 0.4s; /* For Safari 3.1 to 6.0 */
	transition: all 0.4s;
}
.related-post>div.img-related-post {
	width: 100px;
	float: left;
	margin-right: 5px;
}
.title-related-post>a {
	font-size: 13px;
	color: rgb(17, 17, 17);
	line-height: 1;
	max-height: 60px;
	overflow: hidden;
}
.tagsname{
	padding: 0px;
	margin-top: 8px;
}
.tagsname>a{
	display: inline-block;
	margin-right: 4px;
}
.tagsname>a:hover{
	text-decoration: underline;
}
.categories-name{
	margin-top: 8px;
}
.categories-name>ul{
	margin: 0px;
}
.categories-name>ul>li>ul{
	margin-left: 15px;
}
.categories-name a{
	color: #7d0000;
	font-size: 15px;
}
.categories-name a:hover{
	text-decoration: underline;
}

/*Single Post =========================================================>*/
.entry-icon-auth {
	display: flex;
	border-radius: 50%;
	margin-right: 10px;
	align-items: center;
}
.entry-icon-auth>img {
	width: 40px;
	height: 40px;
}
.auth-single{
	font-weight: 600;
	font-size: 15px;
}
.big-box-posts-new-single{
	padding-bottom: 15px;
}
.big-box-posts-new-single .entry-icon-auth,
.big-box-posts-new-single .entry-text-info{
	float: left;
	display: block;
}
.title-single>span{
	border: none;
}
.video-single-post{
	padding: 0px;
	margin-top: 15px;
}
.temp-check-hired{
	color: #fff;
	background: #00B233;
	padding: 2px 5px 3px 5px;
	font-size: 12px;
	border-radius: 4px;
}
/*Share - time - auth*/
.time-share{
	margin-top: 5px;
	position: relative;
}
.post-share{
	float: right;
}
.post-share>ul{
	display: none;
	position: absolute;
	right: 0;
	top: 25px;
	list-style: none;
	background: #fff;
	border: 1px solid #ccc;
	z-index: 300;
}
.post-share>ul>span{
	content: "";
	position: absolute;
	top: -17px;
	right: 10px;
	margin-left: -8px;
	border-width: 8px;
	border-style: solid;
	border-color:  transparent transparent #ccc transparent;
}
.post-share>ul>li{
	text-align: right;
	color: #828282;
	padding: 5px 20px;
}
.post-share>ul>li:hover{
	background: #f2f2f2;
	color: #f20000;
}
.post-share>p,
.post-share>button{
	display: inline;
	color: #828282;
	margin-left: 15px;
	border: none;
	background: #fff;
	outline: none;
}
.big-box-posts-new-single .box-more{
	top: 110%;
}
/*Table single post*/
.box-table{
	width: 100%;
	overflow-x:auto;
	margin-bottom: 15px;
}
.table-single{
	width: 100%;
	display: -webkit-flex; /* Safari */
	-webkit-flex-flow: column; /* Safari 6.1+ */
	display: flex;
	flex-flow: column;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.table-row-group{
	width: 100%;
	display: -webkit-flex; /* Safari */
	-webkit-flex-flow: row; /* Safari 6.1+ */
	display: flex;
	flex-flow: row;
}
.table-single-cell{
	width: 100%;
	height: 32px;
	flex: 1;
	display: -webkit-flex; /* Safari */
	-webkit-flex-flow: row; /* Safari 6.1+ */
	display: flex;
	flex-flow: row;
}
.table-single-cell>p,
.table-single-cell>span{
	flex: 1;
	padding: 5px 8px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
}
.table-single-cell>p{
	background: #f2f2f2;
	font-weight: 700;
}
.table-row-group:nth-child(2)>.table-single-cell>p{
	flex: 2.33;
}
.table-row-group:nth-child(2)>.table-single-cell>span{
	flex: 5;
}
.title-des{
	font-size: 16px;
	margin-bottom: 3px;
}
#content-post{
	text-align: justify;
	text-indent: 30px;
}
#content-post>p{
	text-indent: inherit;
	font-size: 14px;
}
/*Comment*/
.box-comments,
.box-reply-comments,
.box-reply-comments-info{
	padding: 0px;
}
.box-reply-comments{
	margin-bottom: 20px;
}
.box-reply-comments-info{
	min-height: 130px;
}
.content-comment{
	margin-top: 10px;
}
.content-comment>img{
	float: left;
	height: 30px;
	width: 30px;
	border-radius: 50%;
}
.content-comment>p{
	margin-left: 40px;
	padding: 5px 8px;
	background: #f2f2f2;
	border-radius: 10px;
}
.content-comment>p>strong{
	color: #7d0000;
}
.content-comment{
	position: relative;
	float: left;
	width: 100%;
}
.box-input-cmt{
	width: 100%;
	position: absolute;
	top: 0px;
	left: 40px;
	padding-right: 40px;
	z-index: 5;
}
.box-input-cmt>input.reply-cmt{
	width: 100%;
	padding: 5px 8px;
	background: #f2f2f2;
	border-radius: 10px;
}
.box-input-cmt>p{
	padding: 8px 0px;
	color: #f20000;
}
.box-input-cmt>input.reply-cmt-info{
	width: 33%;
	padding: 5px 8px;
	background: #f2f2f2;
	border-radius: 10px;
	margin-top: 5px;
}
button.btn-submit-comment{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	background: transparent;
	border: none;
	padding: 6px 8px;
	color: #f20000;
	font-weight: bold;
}
button.btn-submit-comment:hover{
	text-decoration: underline;
}
button.btn-submit-cmt-info{
	position: absolute;
	top: 75px;
	right: 0;
	padding: 5px 10px;
	background: #7d0000;
	color: #fff;
	border-radius: 10px;
}
button.btn-submit-cmt-info:hover{
	background: #555;
}

/*Đang nhập - Đăng ký ==========================================>*/
.signin-form{
	padding: 20px 25%;
}
.signin-form p{
	margin-top: 10px;
	margin-bottom: 10px;
}
.signin-form span{
	margin-left: 10px;
}
.signin-form a{
	color: #f20000;
}
.signin-form a:hover{
	text-decoration: underline;
}
.signin-form button{
	background: #7d0000;
	border-color: #7d0000;
}
.signin-form button:hover{
	background: #f20000;
}

/*Đăng tin miễn phí=============================================>*/
/*=====Chọn kiểu đăng tin===============>*/
.choose-type-post>p:first-child{
	color: #f20000;
	margin-bottom: 15px;
}
.form-post-p1{
	padding: 0px;
	margin-right: 30px;
}
.form-post-p2{
	display: none;
	padding: 0;
}
.edit-choose-cate {
	display: none;
}
.title-part-post {
	padding: 0px;
	font-size: 16px;
	font-weight: bold;
}
.icon-circle-part {
	color: #fff;
	background: #7d0000;
	border-radius: 50%;
	padding: 6px 10px 6px 10px;
	font-size: 14px;
	font-weight: bold;
}
.post-cate-list {
	list-style: none;
	margin-top: 15px;
	padding: 0px;
}
.post-cate-list hr.border-top-post-cate {
	border-top: 1px solid #bbb;
	margin: 0px;
}
.post-cate-list li {
	position: relative;
	border-bottom: 1px solid #bbb;
	min-height: 41px;
	z-index: 100;
}
.post-cate-list li button {
	width: 100%;
	background: #fff;
	border: none;
	padding-top: 8px;
	padding-bottom: 8px;
	height: 40px;
	outline: none;
}
.post-cate-list li button.active,
.post-cate-list li button:hover{
	background: #7d0000;
}
.post-cate-list li button.active i,
.post-cate-list li button.active p,
.post-cate-list li button.active span,
.post-cate-list li button:hover p,
.post-cate-list li button:hover i,
.post-cate-list li button:hover span{
	color: #fff;
}

.post-cate-list i {
	float: left;
	font-size: 22px;
	color: #7d0000;
	margin-left: 5px;
}
.post-cate-list .name-cate {
	float: left;
	padding-left: 8px;
	height: 22px;
	color: #3c3c3c;
	margin-top: 3px;
	overflow: hidden;
}
.icon-post-menu {
	display: block !important;
	margin-right: 10px;
	color: #3c3c3c;
}
/*Đăng tin mới =================>*/
.title-post-new,
.form-post-new,
.example-post{
	padding: 0px;
	margin-bottom: 10px;
}
.form-group{
	margin-bottom: 10px;
}
.form-post-new input[type=file]{
	display: none;
}
.form-post-new .btn-choose-file{
	background: #f20000;
	display: block;
	color: #fff;
}
.form-post-new .btn-choose-file>svg{
	width: 1em;
	height: 1em;
	vertical-align: middle;
	fill: currentColor;
	margin-top: -0.25em;
	margin-right: 0.25em;
}
.user-info{
	font-weight: bold;
	padding: 5px 0px;
	font-size: 16px;
	border-bottom: 1px dashed #ccc;
	margin-bottom: 10px;
}
.btn-post-submit{
	background: #f20000;
}
.title-post-new>h1,
.title-post-new>span{
	font-size: 20px;
	display: inline;
}
.title-post-new>a{
	color: #7d0000;
	font-size: 16px;
}
.title-post-new>a:hover{
	text-decoration: underline;
}

.example-post{
	border: 1px solid #cecece;
}

.title-example-post{
	background: #f9f9f9;
	padding: 7px 10px 7px 10px;
	font-weight: bold;
	border-bottom: 1px solid #cecece;
}
.examples {
	list-style: none;
	padding: 10px 10px 0 10px;
}
.examples>li {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ccc;
}
.examples>li:last-child{
	border: none;
	padding-bottom: 0px;
}
.examples>li .ex-title {
	color: #b0b0b0;
}
.examples>li .title-content {
	color: #7d0000;
	font-weight: bold;
}
.examples>li .ex-content {
	margin-top: 5px;
	color: #585858;
}
/*Error 404 ============================================================>*/
.er-404{
	text-align: center;
}
.er-404>h1{
	font-size: 150px;
	color: #7d0000;
}
.er-404>p{
	font-size: 20px;
}
.er-404>p:last-child {
	margin-top: 10px;
	font-size: 14px;
	color: #555;
}
/*-----------------------------------Color theo danh mục-----------------------------------------*/
.bg-bds{
	background: #7d0000 !important;
}
.cl-bds{
	color: #7d0000 !important;
}
.b-bds{
	border-color: #7d0000 !important;
}
.bg-oto{
	background: #0033cc !important;
}
.cl-oto{
	color: #0033cc !important;
}
.b-oto{
	border-color: #0033cc !important;
}
.bg-sangnhuong{
	background: #eaa81b !important;
}
.cl-sangnhuong{
	color: #eaa81b !important;
}
.b-sangnhuong{
	border-color: #eaa81b !important;
}
.bg-dichvu{
	background: #04af2c !important;
}
.cl-dichvu{
	color: #04af2c !important;
}
.b-dichvu{
	border-color: #04af2c !important;
}
/*Color before - after*/
.b-t-ba-bds:before{
	border-top-color: #7d0000 !important;
}
.b-t-ba-bds:after{
	border-bottom-color:#4d0000 !important;
}
.b-t-ba-oto:before{
	border-top-color: #0033cc !important;
}
.b-t-ba-oto:after{
	border-bottom-color: #002080 !important;
}
.b-t-ba-sangnhuong:before{
	border-top-color: #eaa81b !important;
}
.b-t-ba-sangnhuong:after{
	border-bottom-color: #a3740f !important;
}
.b-t-ba-dichvu:before{
	border-top-color: #04af2c !important;
}
.b-t-ba-dichvu:after{
	border-bottom-color: #026419 !important;
}
/*Color pagination active*/
.pagination .active-bds{
	background: #7d0000 !important;
	border-color: #7d0000 !important;
	color: #fff !important;
}
.pagination .active-oto{
	background: #0033cc !important;
	border-color: #0033cc !important;
	color: #fff !important;
}
.pagination .active-sangnhuong{
	background: #eaa81b !important;
	border-color: #eaa81b !important;
	color: #fff !important;
}
.pagination .active-dichvu{
	background: #04af2c !important;
	border-color: #04af2c !important;
	color: #fff !important;
}